doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body
    h1= header
    div(class= "w3-gray")
    p(class='w3-quarter')
      a(class='w3-left') from: 
      input(type="text", name="origin", class='w3-input w3-left', onkeyup='alert("!")')
    p(class='w3-quarter')
      a(class='w3-left') to: 
      input(type="text", name="destination", class='w3-input w3-left')    
    button(class='w3-btn w3-blue', onclick='confirm("Are you sure?")') Search
