extends layout

block content
  h1= title
  p Welcome to dts services for SEADA
  ul
  li: a(href="./ecoRoute") ecoRoute
  li: a(href="./dtsAccident2") dtsAccident
  li: a(href="./bridgeNextClosure2") dtsBridge
  li: a(href="./getWeather2") dtsWeather
  li: a(href="./trafficLightColor") trafficLightColor
  li: a(href="./getCongestion2") dtsCongestion
  li: a(href="./getGoogle") dtsGoogle
  li: a(href="./vastTraffik") vastTraffik


