.ffwdme-components-icon-img {
  height: 50%;
  z-index: -1;
  vertical-align: top;
}

.ffwdme-components-icon-container{
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  font-size: 0;
}

.ffwdme-components-label {
  font-size: 40%;
  line-height: 50%;
}

.ffwdme-components-label-small {
  font-size: 30%;
  line-height: 130%;
}

.ffwdme-components-label-unit {
  font-size: 35%;
  line-height: 130%;
}
