$gridx_size: 12;
$gridy_size: 4;
$single_col_size: 100.0 / $gridx_size;
$single_row_size: 100.0 / $gridy_size;

@for $i from 1 through $gridx_size {
  $percent: $single_col_size * $i;
  $no_offset: $percent - $single_col_size;

  .ffwdme-grid-x#{$i}{
    position: absolute;
    left: ceil($no_offset * 100) / 100 * 1%;
  }

  .ffwdme-grid-w#{$i}{
    position: absolute;
    width: ceil($percent * 100) / 100 * 1%;
  }

}

@for $i from 1 through $gridy_size {
  $percent: $single_row_size * $i;
  $no_offset: $percent - $single_row_size;

  .ffwdme-grid-y#{$i}{
    position: absolute;
    top: ceil($no_offset * 100) / 100 * 1%;
  }

  .ffwdme-grid-h#{$i}{
    position: absolute;
    height: ceil($percent * 100) / 100 * 1%;
  }

}