.ffwdme-components-text {
  line-height: 200%;
  font-size: 50%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
}

.ffwdme-components-big-typo {
  font-size: 180%;
}
.ffwdme-components-text-small {
  line-height: 260%;
  font-size: 40%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
}